*, ::after, ::before{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html{
  overflow-y: scroll; 
  font-size: 118.25%;
  scroll-behavior: smooth;
  font-family: 'Montserrat', sans-serif;
}

img{
  max-width: 100%;

}

